:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.top-menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

/*::ng-deep .mat-snack-bar-container {*/
  /*background-color: #fff;*/
  /*border: 1px solid #eee;*/
  /*color: #000;*/
/*}*/
