<mat-card>
  <mat-card-title class="text-center">Регистрация</mat-card-title>
  <mat-card-content>
    <form class="form" [formGroup]="form" (submit)="register()">

      <mat-form-field class="full-width">
        <input matInput placeholder="Ваше Имя" formControlName="name" />
        <mat-error *ngIf="form.get('name').errors" >
          {{ form.get('name').errors }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="E-mail" formControlName="email" />
        <mat-error *ngIf="form.get('email').errors" >
          {{ form.get('email').errors }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Пароль" formControlName="password" />
        <mat-error *ngIf="form.get('password').errors" >
          {{ form.get('password').errors }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Подтверждение пароля" formControlName="password_confirmation" />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Зарегистрироваться</button>
    </form>
  </mat-card-content>
</mat-card>
