:host {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    min-width: 300px;
}
