@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}
